.header {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 60px;
}

.header nav {
    display: flex;
}

.header nav ul {
    display: flex;
    list-style: none;
    font-size: 18px;
}

.header nav ul li:nth-child(-n+5) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header nav ul li:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo {
    font-size: 25px;
}

.header .logo span {
    color: var(--cor-vermelha);
}

.header a, .header nav ul li a, .header nav label {
    padding-left: 20px;
    color: var(--cor-branca);
    text-decoration: none;
}

header nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--cor-vermelha);
    display: block;
    transition: 0.5s;
}
  
.header nav ul li a:hover::after {
    width: 100%;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 60px;
}

.container-principal .informacoes {
    font-size: 60px;
}

.container-principal .botoes a {
    border: 1px solid  var(--cor-vermelha);
    color: var(--cor-branca);
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 25px;
    transition: 0.3s ease;
}

.container-principal .botoes a:nth-child(3) {
    padding: 15px 30px;
    font-size: 25px;
    text-decoration: none;
}

.container-principal .botoes a:hover {
    background-color: var(--cor-vermelha);
    color: var(--cor-preta);
}

.container-principal span {
    color: var(--cor-vermelha);
}

.container-principal:after{
    content: url('../img/setas/seta.png');
    position: absolute;
    height: 35px;
    bottom: 30px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

.container-principal.ativo:after{
    content: url('../img/setas/setaDark.png');
    position: absolute;
    height: 35px;
    bottom: 30px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}


@-webkit-keyframes downarrow {
    0% {-webkit-transform: translateY(-0.4em);opacity: 0.4;}
    100% {-webkit-transform: translateY(0em); opacity: 0.9;}
}

h1 {
    color: var(--cor-vermelha);
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    margin-bottom: 130px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 75%;
}

.titulo a {
    transition: 0.2s ease;
}

.titulo a:hover {
    transform: scale(1.1);
}

#sobre .conteudo-sobre {
    display: flex;
    gap: 170px;
    width: 75%;
}

.logo img {
    width: 100px;
}

.linha-temporal {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 45px;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

figcaption {
    position: relative;
}


figure::after {
    content: "";
    border: 1px dashed var(--cor-preta);
    height: 40px;
    position: absolute;
}

figure .logo {
    position: relative;
    bottom: -55px;
    transition: 0.3s ease;
}

figure:hover > .logo {
    transform: scale(1.1);
}

.conteudo-habilidades {
    display: flex;
    width: 75%;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid var(--cor-vermelha);
    border-bottom: 5px solid var(--cor-vermelha);
    border-radius: 25px 10px 10px 10px;
    padding: 20px;
    max-width: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.conteudo-projetos {
    display: flex;
    width: 75%;
    gap: 20px;
    flex-wrap: wrap;
}

.card-projeto {
    width: 380px;
    height: 250px;
    padding: 25px;
    border: 2px solid var(--cor-vermelha);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.3s linear;
}

.card-projeto  h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.card-projeto span {
    font-size: 20px;
}

.card-projeto a {
    width: max-content;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: var(--cor-vermelha);
    font-weight: 500;
}

.card-projeto a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: var(--cor-vermelha);
    display: block;
    transition: 0.5s;
}
  
.card-projeto a:hover::after {
    width: 100%;
}

#contato .conteudo-contato {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;
}


.links-contato {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.navegacao-contato {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navegacao-contato a {
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    border: 1px solid var(--cor-vermelha);
    color: var(--cor-preta);
    text-decoration: none;
    transition: 0.3s linear;
}

.navegacao-contato .linkedin, .whatsapp, .instagram, .telefone {
    background-color: var(--cor-vermelha);
    height: 100%;
    padding: 20px 20px;
    border: 1px solid var(--cor-vermelha);
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.navegacao-contato .telefone {
    background-color: var(--cor-vermelha);
    height: 100%;
    padding: 0px 23px;
    border: 1px solid var(--cor-vermelha);
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.navegacao-contato .discord {
    background-color: var(--cor-vermelha);
    height: 100%;
    padding: 0px 13px;
    border: 1px solid var(--cor-vermelha);
    margin-right: 20px;
    display: flex;
    align-items: center;
}


.navegacao-contato a:hover {
    background-color: var(--cor-vermelha);
    border: 1px solid var(--cor-cinza);
    color: var(--cor-cinza);
}

.navegacao-contato a:hover > span {
    color: var(--cor-branca);
}

.navegacao-email {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 35px 25px;
    gap: 40px;
    border: 3px solid var(--cor-vermelha);
    border-radius: 50px;
}

.navegacao-email .box-usuario {
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navegacao-email .box-usuario input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--cor-vermelha);
    outline: none;
    background: transparent;
    font-family: var(--fonte);
}

.navegacao-email .box-usuario label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.navegacao-email .box-usuario input:focus ~ .label-form,
.navegacao-email .box-usuario input:valid ~ .label-form {
    top: -20px;
    left: 0;
    font-size: 12px;
}

textarea#mensagem-email {
    width: 275px;
    height: 220px;
    border-radius: 10px;
    border: 1px solid var(--cor-vermelha);
    background-color: transparent;
    display: flex;
    margin: 0;
    align-items: start;
    justify-content: start;
    font-family: var(--fonte);
    padding: 5px;
    resize: none;
    transition: 0.2s ease-out;
}

textarea#mensagem-email:focus {
    transform: scale(1.05);
}

.navegacao-email button {
    font-size: 20px;
    background-color: transparent;
    border: 1px solid var(--cor-vermelha);
    border-radius: 10px;
    width: 125px;
    height: 35px;
    top: 500px;
    font-family: var(--fonte);
    transition: 0.3s ease;
    margin-left: 27%;
}

.navegacao-email button i {
    font-size: 15px;
    transition: 0.3s linear;
}

.navegacao-email button:hover {
    cursor: pointer;
    color: var(--cor-preta);
    background-color: var(--cor-vermelha);
    transform: scale(1.1);
}

.rodape {
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-rodape);
}

.rodape span {
    color: var(--cor-vermelha);
}

/* Animação */
[data-anime] {
    opacity: 0;
    transition: 0.5s;
}

[data-anime = "left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}