.header {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 60px;
}

.header nav {
    display: flex;
}

.header nav ul {
    display: flex;
    list-style: none;
    font-size: 18px;
}

.header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .logo {
    font-size: 25px;
}

.header .logo span {
    color: #ff3131;
}

.header a, .header nav ul li a, .header nav label {
    padding-left: 20px;
    color: #fff;
    text-decoration: none;
}

header nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}
  
.header nav ul li a:hover::after {
    width: 100%;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 60px;
}

.container-principal .informacoes {
    font-size: 60px;
}

.container-principal .botoes a {
    border: 1px solid #ff3131;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 25px;
    transition: 0.3s ease;
}

.container-principal .botoes a:nth-child(3) {
    padding: 15px 30px;
    font-size: 25px;
    text-decoration: none;
}

.container-principal .botoes a:hover {
    background-color: #ff3131;
    color: #000;
}

.container-principal span {
    color: #ff3131;
}

.container-principal:after{
    content: url('../img/seta.png');
    position: absolute;
    height: 35px;
    bottom: 30px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
    0% {-webkit-transform: translateY(-0.4em);opacity: 0.4;}
    100% {-webkit-transform: translateY(0em); opacity: 0.9;}
}

h1 {
    color: #ff3131;
}



#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    margin-bottom: 130px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 75%;
}

.titulo a {
    transition: 0.2s ease;
}

.titulo a:hover {
    transform: scale(1.1);
}

#sobre .conteudo-sobre {
    display: flex;
    gap: 170px;
    width: 75%;
}

.logo img {
    width: 100px;
}

.linha-temporal {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 45px;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

figcaption {
    position: relative;
}


figure::after {
    content: "";
    border: 1px dashed black;
    height: 40px;
    position: absolute;
}

figure .logo {
    position: relative;
    bottom: -55px;
    transition: 0.3s ease;
}

figure:hover > .logo {
    transform: scale(1.1);
}

#habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}

.conteudo-habilidades {
    display: flex;
    width: 75%;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ff3131;
    border-bottom: 5px solid #ff3131;
    border-radius: 25px 10px 10px 10px;
    padding: 20px;
    max-width: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}

.conteudo-projetos {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    gap: 20px;
    flex-wrap: wrap;
}

.card-projeto {
    position: relative;
    width: 325px;
    height: 250px;
    padding: 10px 30px;
    border: 1px solid #ff3131;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(29, 29, 29, 0.6);
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.card-projeto:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}

.card-projeto .botao-card {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 16px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    opacity: 0;
    scale: 0;
    transform-origin: 0 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.botao-card {
    text-decoration: none;
    color: #1d1d1d;
}

.card-projeto:hover .botao-card {
    opacity: 1;
    scale: 1;
}

.card-projeto .botao-card:hover {
    box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.card-projeto .botao-card:active {
    scale: 0.95;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(29, 29, 29, 0.9);
    transition: all 0.4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.conteudo-modal {
    color: #fff;
    width: 600px;
    height: 400px;
    padding: 40px 25px;
    border-radius: 75px;
    display: flex;
    gap: 20px;
    background-color: #1d1d1d;
    border: 1px solid #ff3131;
    position: absolute;
}

.logo-projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.divisao {
    width: 1px;
    background-color: #ff3131;
}

.infos-projeto {
    display: flex;
    flex-direction: column;
}

.logo-projeto img{
    width: 220px;
    height: 145px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.tecs-projeto {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 20px;
}

.logo-projeto a, .infos-projeto h4, .infos-projeto p {
    font-weight: 400;
}

.infos-projeto h4 {
    font-size: 40px;
}

.logo-projeto a, .logo-projeto span, .infos-projeto p {
    font-size: 20px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #db1f1f;
    text-decoration: none;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}

#contato .conteudo-contato {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;
}


.links-contato {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.navegacao-contato {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navegacao-contato a {
    width: 400px;
    height: 70px;
    background-color: #292929;
    display: flex;
    align-items: center;
    border: 1px solid #ff3131;
    color: #fff;
    text-decoration: none;
    transition: 0.3s linear;
}

.navegacao-contato .linkedin, .whatsapp, .instagram, .telefone {
    background-color: #ff3131;
    height: 100%;
    padding: 20px 20px;
    border: 1px solid #ff3131;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.navegacao-contato .telefone {
    background-color: #ff3131;
    height: 100%;
    padding: 0px 23px;
    border: 1px solid #ff3131;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.navegacao-contato .discord {
    background-color: #ff3131;
    height: 100%;
    padding: 0px 13px;
    border: 1px solid #ff3131;
    margin-right: 20px;
    display: flex;
    align-items: center;
}


.navegacao-contato a:hover {
    background-color: #ff3131;
    border: 1px solid #292929;
    color: #292929;
}

.navegacao-contato a:hover > span {
    background-color: #292929;
    color: #fff;
}

.navegacao-email {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 35px 25px;
    gap: 40px;
    background-color: #292929;
    border: 3px solid #ff3131;
    border-radius: 50px;
}

.navegacao-email .box-usuario {
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navegacao-email .box-usuario input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #ff3131;
    outline: none;
    background: transparent;
    font-family: 'Quicksand', sans-serif;
}

.navegacao-email .box-usuario label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.navegacao-email .box-usuario input:focus ~ .label-form,
.navegacao-email .box-usuario input:valid ~ .label-form {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
}

textarea#mensagem-email {
    width: 275px;
    height: 220px;
    border-radius: 10px;
    border: 1px solid #ff3131;
    background-color: transparent;
    display: flex;
    margin: 0;
    color: #FFF;
    align-items: start;
    justify-content: start;
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
    resize: none;
    transition: 0.2s ease-out;
}

textarea#mensagem-email:focus {
    transform: scale(1.05);
}

.navegacao-email button {
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #ff3131;
    border-radius: 10px;
    width: 125px;
    height: 35px;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    transition: 0.3s ease;
}

.navegacao-email button i {
    font-size: 15px;
    transition: 0.3s linear;
}

.navegacao-email button:hover {
    cursor: pointer;
}

.navegacao-email button:hover {
    cursor: pointer;
    color: #000;
    background-color: #ff3131;
    transform: scale(1.1);
}


.rodape {
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
}

.rodape span {
    color: #ff3131;
}

